@import "tailwindcss";

.glass-card {
  @apply bg-white/80 backdrop-blur-xl p-6 rounded-2xl shadow;
}

.btn-primary {
  @apply bg-indigo-600 hover:bg-indigo-700 text-white px-6 py-2 rounded-xl flex items-center gap-2 justify-center;
}

.btn-success {
  @apply bg-green-600 hover:bg-green-700 text-white px-6 py-3 rounded-xl flex items-center gap-2;
}

.input {
  @apply border p-2 w-full rounded-lg;
}
